<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="https://deployd.io/wp-content/uploads/2019/10/logo.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header *ngIf="isshow">
            <ion-card-title >
              <ion-row>
                <ion-col style = "text-transform:capitalize;">{{user.username}}</ion-col>
                <ion-col>
                  <ion-button color="danger" (click)="logout()" solt="end" style="margin-top: -18px;">
                    Logout
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-card-title>
          </ion-card-header>
          <ion-card-header >
            <ion-card-title>User Details</ion-card-title>
            <ion-card-subtitle>You can login and create the user </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="userdetail" (ngSubmit)="onSubmit(userdetail.value)">
              <ion-item>
                <ion-label position="floating">User Name</ion-label>
                <ion-input type="text" formControlName="username" (ionInput)="onTextChange()"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" formControlName="password" (ionInput)="onTextChange()"></ion-input>
              </ion-item>
              <ion-row *ngIf="error!=null">
                <ion-col><p style="color: red;">{{error}}</p></ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6" >
                  <ion-button type="submit" *ngIf="!isshow">
                    Login
                  </ion-button>
                </ion-col>
                <ion-col size="6">
                  <ion-button color="secondary" (click)="createUser()">
                    <ion-icon slot="icon-only" name="person-circle"></ion-icon>
                    Create
                  </ion-button>
                </ion-col>
              </ion-row>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title><ion-searchbar (ionChange)="ionSearchAction($event)"></ion-searchbar></ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item button *ngFor="let userdetail of userdetails;">
              <ion-label>
                {{userdetail.username}}
              </ion-label>
            </ion-item>            
          </ion-card-content>
          
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>